$main-color: #133c55;
$secondary-color: #386fa4;
$light-white: #fff;
$light-white-grey: rgb(241, 243, 245);
$pure-white: #eee;
$dark: #2e2e2e;
$white-color: #dae7f0;
$white-color-hover: #8f9b9b;

$grey-gradient: linear-gradient(44deg, rgba(72, 100, 121, 0.75) 35%, rgba(36, 49, 57, 0.75) 100%);
$light-grey-gradient: linear-gradient(44deg, rgba(161, 172, 176, 0.75) 35%, rgba(46, 50, 53, 0.75) 100%);
$dark-grey-gradient: linear-gradient(44deg, rgba(60, 65, 67, 0.75) 35%, rgba(147, 155, 160, 0.75) 100%);
$grey-gradient-solid: linear-gradient(44deg, rgb(103, 137, 154), rgb(7, 50, 75));
